{% extends 'web/partials/base.html' %}
{% load static %}
{% block title %}Updates{% endblock %}

{% block content %}

<main>
  <section class="breadcrumb_section text-uppercase" style="background-image: url({% static "web/assets/images/breadcrumb/tea_powder.jpg" %});">
    <div class="container">
      <h1 class="page_title text-white wow fadeInUp" data-wow-delay=".1s">Blog</h1>
      <ul class="breadcrumb_nav ul_li wow fadeInUp" data-wow-delay=".2s">
        <li><a href="{% url "web:index" %}"><i class="fas fa-home"></i> Home</a></li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="breadcrumb_icon_wrap">
      <div class="container">
        <div class="breadcrumb_icon wow fadeInUp" data-wow-delay=".3s">
          <img src="{% static "web/assets/images/feature/icon_01.png" %}" alt="icon_not_found">
          <span class="bg_shape"></span>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb_section - end
  ================================================== -->

  <!-- blog_section - start
  ================================================== -->
  <section class="blog_section sec_ptb_120 bg_default_gray">
    <div class="container">
      <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
        <div class="col-lg-12 col-md-8">
          
          <div class="row justify-content-center">
            {% for blog in blogs %}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="blog_grid wow fadeInUp" data-wow-delay=".1s">
                <a class="item_image" href="{{blog.get_absolute_url}}">
                  <img src="{{ blog.image.url }}" alt="image_not_found">
                </a>
                <div class="item_content">
                  <h3 class="item_title text-uppercase">
                    <a href="{{blog.get_absolute_url}}">{{blog.title}}</a>
                  </h3>
                  <p>
                    {{blog.paraph|truncatechars:50}}
                  </p>
                  <a class="btn_text text-uppercase" href="{{blog.get_absolute_url}}"><span>Read More</span> <i class="far fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
            {% endfor %}
           

          </div>        
        </div>
        
      </div>
    </div>
  </section>
  <!-- blog_section - end
  ================================================== -->

</main>

{% endblock %}
